<div class="container my-5">
    <div class="row">

        <!-- Tarjeta 1 -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-lg">
                <div class="row g-0">
                    <!-- Imagen -->
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="https://masertecperu.com/imagenes/reloj_FP-ICLOCK-360.jpg"
                        class="img-fluid rounded-start h-75 w-50"
                        alt="FP-ICLOCK-360">
                    </div>
                    <!-- Contenido -->
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>FP-ICLOCK-360</b></h5>
                            <p class="card-text">Innovador terminal biométrico de huella digitales y de proximidad para
                                aplicaciones de control de asistencia, que ofrece un rendimiento in precedentes
                                empleando un algoritmo avanzado para la confiabilidad, precisión y excelente velocidad
                                de identificación.</p>
                            <a href="./relojes" rel="noopener noreferrer" class="btn"
                            style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver
                            detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-lg">
                <div class="row g-0">
                    <!-- Imagen -->
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="https://masertecperu.com/imagenes/reloj_TK100-C.jpg"
                        class="img-fluid rounded-start h-75 w-50"
                        alt="TK100-C">
                    </div>
                    <!-- Contenido -->
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>TK100-C</b></h5>
                            <p class="card-text">Innovador lector biométrico de huellas digitales para aplicaciones de tiempo y asistencia, que cuenta con el alto rendimiento y alta calidad de imagen sensor óptico de huellas dactilares. El TFT de 3" puede mostrar más claramente la información, incluyendo la calidad de imagen y huella dactilar.</p>
                            <a href="https://issuu.com/masertecsac/docs/trk100?mode=window"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="btn"
                            style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver
                            detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-lg">
                <div class="row g-0">
                    <!-- Imagen -->
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="https://masertecperu.com/imagenes/reloj_Tr515.jpg"
                        class="img-fluid rounded-start h-75 w-50"
                        alt="TR515">
                    </div>
                    <!-- Contenido -->
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>TR515</b></h5>
                            <p class="card-text">El terminal fijo TR-515 de PROMAG permite la captura de datos para realizar el control de asistencia y viene equipado con un software que mediante el puerto de RED TCP/IP se puede jalar las marcas del equipo y guardarlo en un archivo de texto. Este equipo tiene asignado una IP dentro de la red.</p>
                            <a href="https://issuu.com/masertecsac/docs/tr515?mode=window"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="btn"
                            style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver
                            detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjeta 4 -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-lg">
                <div class="row g-0">
                    <!-- Imagen -->
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="https://masertecperu.com/imagenes/reloj_Cipber%20lab%20510.jpg"
                            class="img-fluid rounded-start h-75 w-50"
                            alt="CIPBER LAB 510">
                    </div>
                    <!-- Contenido -->
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>CIPBER LAB 510</b></h5>
                            <p class="card-text">El terminal programable 510 es uno de los terminales más versátiles en el mercado, puede ser usado para realizar seguimiento de trabajos, asignación de tiempos o contestación de errores y retrasos en procesos productivos.</p>
                            <a href="./relojes"
                            rel="noopener noreferrer"
                            class="btn"
                            style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver
                            detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>