<div class="container my-5">
    <div class="row">

        <!-- Tarjeta 1 -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-lg">
                <div class="row g-0">
                    <!-- Imagen -->
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="https://masertecperu.com/imagenes/ls2208_def.jpg"
                        class="img-fluid rounded-start h-75 w-50"
                        alt="Lector de mano LS2208">
                    </div>
                    <!-- Contenido -->
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Lector de mano LS2208</b></h5>
                            <p class="card-text">El lector de mano LS2208 de Symbol Technologies le ofrece un alto rendimiento a un módico precio. Para lugares que varían desde puntos de venta al por menor y almacenes hasta hospitales o colegios, el modelo LS2208 es un lector resistente y ligero que le ofrece lecturas rápidas y fiables, así como un mayor rendimiento y productividad, a la vez que reduce el coste total de propiedad (TCO).</p>
                            <a href="https://issuu.com/masertecsac/docs/ls2200es_new?mode=window"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="btn"
                            style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver
                            detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-lg">
                <div class="row g-0">
                    <!-- Imagen -->
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="https://masertecperu.com/imagenes/LS4208.jpg"
                        class="img-fluid rounded-start h-75 w-50"
                        alt="Lector de mano LS4208">
                    </div>
                    <!-- Contenido -->
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Lector de mano LS4208</b></h5>
                            <p class="card-text">Con el lector de mano láser LS4208 de Symbol acelerará sin esfuerzo la velocidad de procesamiento, incluso en el caso de códigos de barras deteriorados. Cuando necesite capturar y procesar datos con rapidez, como en el proceso de paso por caja, en farmacias y hospitales, o en almacénes,este lector de diseño ergonómico le ayuda a aumentar la precisión, mejorar la productividad, recortar los costes de mantenimiento y reducir el tiempo de inactividad.</p>
                            <a href="https://issuu.com/masertecsac/docs/ls4208?mode=window"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="btn"
                            style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver
                            detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col-md-12 mb-4">
            <div class="card shadow-lg">
                <div class="row g-0">
                    <!-- Imagen -->
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="https://masertecperu.com/imagenes/LS1203.jpg"
                        class="img-fluid rounded-start h-75 w-50"
                        alt="TR515">
                    </div>
                    <!-- Contenido -->
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Lector de mano LS1203</b></h5>
                            <p class="card-text">El lector de mano LS1203 de Symbol Technologies ofrece tecnología de lectura láser de alta calidad, diseño ergonómico, facilidad de manejo y gran durabilidad a un precio muy asequible. El LS1203 está diseñado para cubrir las necesidades de los negocios pequeños y proporciona e rendimiento y las funciones necesarios para reducir significativamente los errores en la entrada de datos.</p>
                            <a href="https://issuu.com/masertecsac/docs/ls1203_ds_0106_sp?mode=window"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="btn"
                            style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver
                            detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>