<footer class="text-white text-center text-lg-start bg-dark">
  <!-- Grid container -->
  <div class="p-1">
    <!--Grid row-->
    <div class="row m-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Sobre Nosotros</h5>

        <p>
          Giro comercial principal es identificar al personal, mediante el servicio de fotochecks.
        </p>

        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
          <!-- Dribbble -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

        <h5 class="text-uppercase mb-4" style="margin-left: 1.6em;">Realizado por:</h5>

        <ul class="fa-ul text-center">
          <li class="mb-4">
            <div class="d-flex align-items-center">
              <span class="fa-li"><i class="fab fa-github"></i></span>
              <span class="ms-2"><a href="https://github.com/Josue24p/" class="text-white">Josue Poza</a></span>
              <span class="ms-3"><i class="fas fa-phone"></i> +51 923314248</span>
            </div>
          </li>
          <li class="mb-3">
            <div class="d-flex align-items-center">
              <span class="fa-li"><i class="fab fa-github"></i></span>
              <span class="ms-2"><a href="https://github.com/yordicoro/" class="text-white">Yordi Coronel</a></span>
              <span class="ms-3"><i class="fas fa-phone"></i> +51 960283870</span>
            </div>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>
        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Pque. Maria de los Angeles # 588 -
              Los Olivos</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">jnunez&#64;hotmail.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">485-0598</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <span>Masertec 2025 © Todos los derechos reservados</span>
  </div>
  <!-- Copyright -->
</footer>