/* Estilos generales para el footer */
.footer {
  display: flex;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 0.9rem;
  z-index: 10;
}


.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links li {
  margin: 5px 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #3498db;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .footer p {
    font-size: 0.9rem;
  }

  .footer-links {
    justify-content: center;
    flex-direction: column;
  }

  .footer-links li {
    margin: 5px 0;
  }
}

@media (max-width: 576px) {
  .footer p {
    font-size: 0.8rem;
  }

  .footer-links a {
    font-size: 0.9rem;
  }
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio de 10px entre los iconos */
}

.social-icons a {
  margin: 5px; /* Márgenes adicionales si es necesario */
}
