<footer class="text-white text-center text-lg-start bg-dark">
  <!-- Grid container -->
  <div class="p-1">
    <!--Grid row-->
    <div class="row m-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Sobre Nosotros</h5>

        <p>
          Giro comercial principal es identificar al personal, mediante el servicio de fotochecks.
        </p>
        <div class="mt-4 social-icons">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
          <!-- Dribbble -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-dribbble"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>
        </div>
      </div>
      <!--Grid column-->

      

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">+ INFORMACIÓN</h5>
        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-2">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Pque. Maria de los Angeles # 588 -
              Los Olivos</span>
          </li>
          <li class="mb-2">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span
              class="ms-2">Ventas&#64;masertecperu.com</span>
          </li>
          <li class="mb-2">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span
              class="ms-2">Masertec&#64;masertecperu.com</span>
          </li>

        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <span>Masertec 2025 © Todos los derechos reservados</span>
  </div>
  <!-- Copyright -->
</footer>