/* Estilo general del footer */
.footer {
  background-color: #004b87; /* Color primario de la barra de navegación */
  color: white;
  position: relative; /* Necesario si el footer se coloca al final */
  padding: 20px 0; /* Espaciado alrededor del contenido */
  margin-top: auto; /* Para que se empuje hacia abajo cuando el contenido es poco */
}

/* Ajustes para el contenedor de contenido de la página */
body, html {
  height: 100%; /* Necesario para asegurar que ocupen toda la altura */
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* Esto empuja el footer hacia abajo */
}

/* Estilos para el contenido del footer */
.footer-content p {
  margin-bottom: 15px;
}

.footer-links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffdd57; /* Un color dorado para el hover */
}

/* Media query para ajustar el footer en pantallas pequeñas */
@media (max-width: 768px) {
  .footer-content p {
    margin-bottom: 10px;
  }
  .footer-links {
    margin-top: 10px;
  }
}
/* Estilo general del footer */
.footer {
  background-color: #004b87; /* Color primario de la barra de navegación */
  color: white;
  padding: 20px 0;
}

.footer-content p {
  margin-bottom: 15px;
}

.footer-links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffdd57; /* Un color dorado para el hover */
}

/* Media query para ajustar el footer en pantallas pequeñas */
@media (max-width: 768px) {
  .footer-content p {
    margin-bottom: 10px;
  }
  .footer-links {
    margin-top: 10px;
  }
}
