<div class="container my-5">
  <div class="row">

    <!-- Tarjeta 1 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4">
            <img src="https://masertecperu.com/imagenes/p330i.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo P330i">
          </div>
          <!-- Contenido -->
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO P330i</b></h5>
              <p class="card-text">El modelo de impresora de tarjetas de impresión por un lado a la vez más confiable para tirajes
                 altos además de ser flexible y con muchas opciones de colores y tipos de impresión incluyendo hologramas tridimensionales. Las
                  Impresoras Zebra P330i pueden imprimir a full color en esta sola cara.</p>
              <a href="..." class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4">
            <img src="https://masertecperu.com/imagenes/p330i.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo P430i">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO P430i</b></h5>
              <p class="card-text">Impresora de tarjetas en PVC por ambos lados a la vez más confiable para tirajes altos además de ser
                flexible y con muchas opciones de colores y tipos de impresión incluyendo hologramas tridimensionales. Puede imprimir a
                full color en ambas caras o a la vez con alta calidad en color o en blanco y negro.</p>
              <a href="..." class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4">
            <img src="	https://masertecperu.com/imagenes/imp_p100i.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo P100i">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO P100i</b></h5>
              <p class="card-text">Impresora de un solo lado de Zebra, de alimentación unitaria, imprime tarjetas a todo color y en blanco
                y negro en solo instantes. Posee una bandeja de almacenamiento integrada para 100 tarjetas dividida en cajetines. Incluye
                un rodillo de limpieza en el kit de alimentación manual.</p>
              <a href="..." class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Tarjeta 4 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4">
            <img src="https://masertecperu.com/imagenes/p330i.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo P330i">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO P330i</b></h5>
              <p class="card-text">El modelo de impresora de tarjetas de impresión por un lado a la vez más confiable para tirajes
                altos además de ser flexible y con muchas opciones de colores y tipos de impresión incluyendo hologramas tridimensionales. Las
                 Impresoras Zebra P330i pueden imprimir a full color en esta sola cara.</p>
              <a href="..." class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 5 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4">
            <img src="https://masertecperu.com/imagenes/p330i.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo P430i">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO P430i</b></h5>
              <p class="card-text">Impresora de tarjetas en PVC por ambos lados a la vez más confiable para tirajes altos además
                de ser flexible y con muchas opciones de colores y tipos de impresión incluyendo hologramas tridimensionales. Puede
                 imprimir a full color en ambas caras o a la vez con alta calidad en color o en blanco y negro.</p>
              <a href="..." class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 6 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4">
            <img src="	https://masertecperu.com/imagenes/imp_p100i.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo P100i">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO P100i</b></h5>
              <p class="card-text">Impresora de un solo lado de Zebra, de alimentación unitaria, imprime tarjetas a todo color y en blanco
                y negro en solo instantes. Posee una bandeja de almacenamiento integrada para 100 tarjetas dividida en cajetines. Incluye
                un rodillo de limpieza en el kit de alimentación manual.</p>
              <a href="..." class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 7 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4">
            <img src="https://masertecperu.com/imagenes/p330i.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo P430i">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO P430i</b></h5>
              <p class="card-text">Impresora de tarjetas en PVC por ambos lados a la vez más confiable para tirajes altos además de ser
                flexible y con muchas opciones de colores y tipos de impresión incluyendo hologramas tridimensionales. Puede imprimir a
                full color en ambas caras o a la vez con alta calidad en color o en blanco y negro.</p>
              <a href="..." class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
