<div class="container my-5">
  <div class="row">

    <!-- Tarjeta 1 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://masertecperu.com/imagenes/p330i.jpg" class="img-fluid rounded-start" style="height: 180px;" alt="Zebra Modelo P330i">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO P330i</b></h5>
              <p class="card-text">El modelo de impresora de tarjetas de impresión por un lado a la vez más confiable para tirajes
                 altos además de ser flexible y con muchas opciones de colores y tipos de impresión incluyendo hologramas tridimensionales. Las
                  Impresoras Zebra P330i pueden imprimir a full color en esta sola cara.</p>
              <a href="https://issuu.com/masertecsac/docs/p330ids_es?mode=window" target="_blank" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://masertecperu.com/imagenes/p330i.jpg" class="img-fluid rounded-start" style="height: 180px;" alt="Zebra Modelo P430i">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO P430i</b></h5>
              <p class="card-text">Impresora de tarjetas en PVC por ambos lados a la vez más confiable para tirajes altos además de ser
                flexible y con muchas opciones de colores y tipos de impresión incluyendo hologramas tridimensionales. Puede imprimir a
                full color en ambas caras o a la vez con alta calidad en color o en blanco y negro.</p>
              <a href="https://issuu.com/masertecsac/docs/zebra430i?mode=window" target="_blank" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="	https://masertecperu.com/imagenes/imp_p100i.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo P100i">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO P100i</b></h5>
              <p class="card-text">Impresora de un solo lado de Zebra, de alimentación unitaria, imprime tarjetas a todo color y en blanco
                y negro en solo instantes. Posee una bandeja de almacenamiento integrada para 100 tarjetas dividida en cajetines. Incluye
                un rodillo de limpieza en el kit de alimentación manual.</p>
              <a href="https://issuu.com/masertecsac/docs/zebra-p100i?mode=window" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Tarjeta 4 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://masertecperu.com/imagenes/impr_zxp31.jpg" class="img-fluid rounded-start" alt="Zebra Modelo ZXP31">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO ZXP31</b></h5>
              <p class="card-text">El modelo de termo-impresoras directas de impresión por un lado a la vez ZXP Series 31 es la mejor opción en su clase. Esta nueva tecnología esta basada en un sistema de impresión ZRaster usando tecnología host de procesamiento de imágenes y colores verdaderos.</p>
              <a href="https://issuu.com/masertecsac/docs/zebra-zxp-series3?mode=window" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 5 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://masertecperu.com/imagenes/impr_zxp32.jpg" class="img-fluid rounded-start" alt="Zebra Modelo ZXP32">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO ZXP32</b></h5>
              <p class="card-text">El modelo de termo-impresoras directas de impresión por ambos lados a la vez ZXP Series 32, impresión y alta calidad de imagen. Compacto y fácil de usar, Imprime la tarjeta plástica por ambos lados a la vez, ahorrando tiempo de operación con datos variables.</p>
              <a href="https://issuu.com/masertecsac/docs/zebra-zxp-series3?mode=window" target="_blank" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 6 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4 d-flex justify-content-center align-items-center p-3">
            <img src="https://masertecperu.com/imagenes/zxp83.jpg" class="img-fluid rounded-start" style="height: 80px;" alt="Zebra Modelo ZXP83">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>ZEBRA MODELO ZXP83</b></h5>
              <p class="card-text">La primera impresora de tarjetas por retransferencia de Zebra, la impresora por retransferencia ZXP Series 8 permite imprimir tarjetas con calidad fotográfica a altísima velocidad (imprime a lo ancho).</p>
              <a href="https://masertecperu.com/imagenes/zxp83.jpg" target="_blank" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 7 -->
    <div class="col-md-12 mb-4">
      <div class="card shadow-lg">
        <div class="row g-0">
          <!-- Imagen -->
          <div class="col-md-4 d-flex justify-content-center align-items-center p-3">
            <img src="https://www.idesco.com/picts/products/CardStudio2.PNG" class="img-fluid rounded-start" style="height: 170px;" alt="CARDSTUDIO™ SOFTWARE">
          </div>
          <!-- Contenido -->
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><b>CARDSTUDIO™ SOFTWARE</b></h5>
              <p class="card-text">Software profesional, fácil de aprender y utilizar, para diseñar y emitir tarjetas. Tanto si ustedes crean diseños sencillos, como complejos. CardStudio ofrece una versión para cada aplicación, con tres niveles: Classic, Standard y Professional.</p>
              <a href="https://issuu.com/masertecsac/docs/1323769282-zmotif-card-studio?mode=window" target="_blank" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
