<div class="container row m-0 mx-auto p-3 py-md-5 align-items-center">
  <!-- Columna de imagen -->
  <div class="d-flex flex-column align-items-center col-md-6 col-12 text-center mb-4 mb-md-0" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
    <img src="https://masertecperu.com/imagenes/impresion1.jpg" alt="whatis-pchi" class="img-fluid"
        style="width: 100%; height: auto; width: auto;; object-fit: cover; border-radius: 8px; transform: rotate(-90deg);">
  </div>


  <!-- Columna de texto -->
  <div class="col-md-6 col-12 p-4 us-message" data-aos="fade-left" data-aos-anchor-placement="top-bottom">
      <svg class="us-asset-3 mb-3" width="44" height="8" viewBox="0 0 44 8" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M44 0H0V8H44V0Z" fill="#FFBB33"></path>
      </svg>

      <h3 class="my-0 text-center text-md-left mb-4">
          <b class="prim-text-color">ETIQUETAS</b>
      </h3>

      <span data-aos="fade-down">
          <p>Masertec SAC te ofrece un Servicio de Impresión de Etiquetas personalizado,
            sin exigencias en la cantidad mínima de etiquetas adhesivas a imprimir. Imprimimos
             desde pequeñas cantidades de etiquetas adhesivas hasta cantidades industriales.</p>

          <h6 class="text-uppercase mt-4">¿Qué tipo de etiquetas puede imprimir con nuestro
            Servicio de Impresión de Etiquetas?</h6>

          <p>Nuestras etiquetas adhesivas son de máxima calidad. Nuestro Servicio de Impresión
            de Etiquetas permite imprimir etiquetas adhesivas y de poliamida para cubrir cualquier
             necesidad empresarial que tenga.</p>

          <h6 class="text-uppercase mt-4">Tipos de etiquetas que imprimimos:</h6>
          <ul>
              <li><strong>Etiquetas de Poliamida:</strong> También conocidas como etiquetas de
                resina textil o etiquetas de composición de lavado, son aquellas etiquetas en
                las que imprimimos el logo de la empresa, imágenes, la talla, la composición
                textil y las instrucciones de lavado.</li>

              <li><strong>Etiquetas Adhesivas:</strong> Imprimimos desde las etiquetas de papel
                 couché, pasando por las térmicas, las etiquetas transparentes, hasta las
                 etiquetas de alto impacto que soportan condiciones climáticas adversas. Imprimimos
                 las etiquetas con ribbon de primera calidad, lo cual favorece la durabilidad y
                 exposición que pueda tener la etiqueta al conseguir una impresión de alta
                 calidad.</li>
          </ul>
      </span>

      <div class="mt-4 text-md-end text-sm-end">
          <img class="lottery-svg2 mt-4" width="101" height="100"
              src="https://static.pchujoy.com/public/img/ornaments/Home3.webp" alt="home3-image">
      </div>
  </div>
</div>
