<div class="admin-dashboard">
  <h1>Panel de Administración</h1>
  
  <!-- Productos -->
  <section class="admin-section">
    <h2>Productos</h2>
    <div class="actions">
      <button class="add-btn" (click)="mostrarFormulario = true">Agregar Producto</button>
      <a class="nav-link" href="/adminlistar" class="btn btn-primary">
        <i class="fas fa-list"></i> Listar
      </a>
    </div>
  </section>

  <!-- Accesorios -->
  <section class="admin-section">
    <h2>Accesorios</h2>
    <div class="actions">
      <button class="add-btn">Agregar Accesorio</button>
      <a class="nav-link" href="/adminlistar" class="btn btn-primary">
        <i class="fas fa-list"></i> Listar
      </a>
    </div>
  </section>

  <!-- Servicios -->
  <section class="admin-section">
    <h2>Servicios</h2>
    <div class="actions">
      <button class="add-btn">Agregar Servicio</button>
      <a class="nav-link" href="/adminlistar" class="btn btn-primary">
        <i class="fas fa-list"></i> Listar
      </a>
    </div>
  </section>

  <!-- Sistemas -->
  <section class="admin-section">
    <h2>Sistemas</h2>
    <div class="actions">
      <button class="add-btn">Agregar Sistema</button>
      <a class="nav-link" href="/adminlistar" class="btn btn-primary">
        <i class="fas fa-list"></i> Listar
      </a>
    </div>
  </section>
</div>
