<div class="card welcome-card">
  <div class="cont-img">
    <img src="https://masertecperu.com/imagenes/bienvenido.png" alt="Bienvenidos a Masertec">
  </div>
  <div class="cont-text">
    <h2>MASERTEC SAC</h2>
    <p>
      Somos una empresa peruana formada en el año 2002, cuyo giro comercial principal es identificar al personal,
      mediante el servicio de fotochecks, siendo confiable en la confección de documentos de identificación de alta
      seguridad. Contamos con personal altamente calificado y maquinaria de alta tecnología industrial.
    </p>
  </div>
</div>

<!-- Vista de Categorías -->
<div *ngIf="!categoriaSeleccionada" class="section">

  <div class="cont-card">
    <app-card *ngFor="let categoria of categorias"
      [title]="categoria.cat_nombre"
      [imageUrl]="'https://masertecperu.com/api/uploads/' + categoria.cat_imagen"
      [text]="categoria.cat_descripcion"
      buttonText="Ver más"
      [showButton]="true"
      (verMas)="seleccionarCategoria(categoria)">
    </app-card>
  </div>
</div>

<!-- Vista de Subcategorías -->
<div *ngIf="categoriaSeleccionada && !subcategoriaSeleccionada" class="section">

  <div class="cont-card">
    <app-card *ngFor="let sub of subcategorias"
      [title]="sub.subcat_nombre"
      [imageUrl]="'https://masertecperu.com/api/uploads/' + sub.subcat_imagen"
      [text]="sub.subcat_descripcion"
      buttonText="Ver productos"
      [showButton]="true"
      (verMas)="seleccionarSubcategoria(sub)">
    </app-card>
  </div>
  <button class="back-btn" (click)="volverACategorias()">⬅ Volver a Categorías</button>
</div>

<!-- Vista de Productos -->
<div *ngIf="subcategoriaSeleccionada" class="section">

  <div class="cont-card">
    <app-card *ngFor="let producto of productos"
      [title]="producto.prod_nombre"
      [imageUrl]="'https://masertecperu.com/api/uploads/' + producto.prod_image"
      [text]="producto.prod_descripcion"
      [showButton]="false">
    </app-card>
  </div>
  <button class="back-btn" (click)="volverASubcategorias()">⬅ Volver a Subcategorías</button>
</div>
