.card {

  display: flex;
  flex-direction: row;
  background-color: #333;
  margin: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra para destacar la tarjeta */
}
.cont-img {
  flex: 0.5;
  width: 40%;
  ;
  background-color: #333;
  margin: 10px;
}

.cont-text {
  flex: 1;
  width: 45%;
  background-color: #333;
  margin: 10px;
  padding: 10px;
}

/* Color del texto en el título h5 (MASERTEC SAC) */
.card .card-title {
  color: #ec740b !important; /* Naranja oscuro como fuego */
  text-align: center;
}

/* Color del texto en el párrafo p (Descripción) */
p {
  margin: 50px;
  color: #fff82e !important; /* Gris oscuro */
  text-align: justify;
  font-weight: bold; /* Negrita */
  font-family: 'Arial', sans-serif; /* Fuente más moderna y legible */
}

/* Contenedor de múltiples tarjetas */
.cont-card {
  display: flex;
  justify-content: space-between; /* Distribuye las tarjetas de manera equitativa */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten al tamaño de la pantalla */
  margin: 16px;
}

/* Cada tarjeta dentro del contenedor */
.cont-card app-card {
  display: flex;
  box-sizing: border-box;
  margin: 10px;
  padding: 8px;
  width: 18%; /* Ajusta el ancho de cada tarjeta a un 18% */
  max-width: 250px; /* Asegura que no se expandan demasiado */
  object-fit: cover;
  border-radius: 8px;
}


/* En pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .cont-card app-card {
    width: 48%; /* Las tarjetas ocuparán un 48% del ancho */
  }
}

/* En pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) {
  .cont-card app-card {
    width: 100%; /* Las tarjetas ocuparán el 100% del ancho */
  }
}

