<p>Mostrando la vista Home</p>
<div class="card">
  <div class="cont-img">
    <img src="https://masertecperu.com/imagenes/bienvenido.png" class="card-img-top" alt="Bienvenidos a Masertec">
  </div>
  <div class="cont-text">
    <h5 class="card-title">MASERTEC SAC</h5>
    <p class="highlight-text">
      Somos una empresa peruana formada en el año 2002, cuyo giro comercial principal es identificar al personal
      mediante el servicio de fotochecks. Nos destacamos por ofrecer documentos de identificación de alta seguridad
      con un diseño innovador, apoyados por un equipo calificado y maquinaria de última tecnología.
    </p>
  </div>
</div>

<div class="cont-card">
  <app-card
    title="Fotochecks"
    imageUrl="https://masertecperu.com/imagenes/accesorios.png"
    text="Nuestro servicio de impresión de fotochecks incluye la elaboración del diseño y sesión fotográfica al personal en sus propias instalaciones sin costo adicional.">
  </app-card>
  <app-card
    title="Accesorios"
    imageUrl="https://masertecperu.com/imagenes/fotocheck.png"
    text="Contamos con una gama diversa de accesorios de fotochecks tales como portafotochecks, cintas, micas, yoyos retráctiles.">
  </app-card>
  <app-card
    title="Sistema"
    imageUrl="https://masertecperu.com/imagenes/sacop.png"
    text="SACOP ha sido desarrollado para brindar un efectivo control sobre la asistencia de su personal, en información referida a horas extras, tardanzas, permisos, entre otros.">
  </app-card>
  <app-card
    title="Servicio Técnico"
    imageUrl="https://masertecperu.com/imagenes/servtec.png"
    text="Nuestro equipo de SERVICIO TÉCNICO está conformado por ingenieros y técnicos quienes se encuentran a su disposición para garantizarle un servicio de calidad.">
  </app-card>
</div>
