.card {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  margin: 0px 20px 0px 20px;
}

.cont-img {
  flex: 0.5;
  width: 45%; /* Puedes ajustar el tamaño de los divs según tus necesidades */
  background-color: lightblue;
  margin: 10px;
}

.cont-text {
  flex: 1;
  width: 45%;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
}

.cont-card{
  display: flex;
  justify-content: space-around; /* Espacio alrededor de los cards */
  flex-wrap: wrap; /* Permite que los cards se ajusten en pantallas más pequeñas */
  margin: 16px; /* Espaciado alrededor del contenedor */
}

.app-card {
  flex: 1 1 30%; /* Crece para ocupar 30% del ancho del contenedor */
  margin: 10px; /* Espacio entre los cards */
  min-width: 250px; /* Ancho mínimo para evitar que se vean muy pequeños */
}