

<!-- Card principal con imagen y texto -->
<div class="card mb-4" style="background-color: #f8f9fa;">
  <div class="cont-img">
    <img src="https://masertecperu.com/imagenes/bienvenido.png" class="card-img-top" alt="Bienvenidos a Masertec">
  </div>
  <div class="cont-text card-body" style="height: 250px;">
    <h5 class="card-title text-primary">MASERTEC SAC</h5>
    <p class="card-text text-dark" style="font-size: 1rem;">Somos una empresa peruana formada en el año 2002, cuyo giro comercial principal es identificar al personal, mediante el servicio de fotochecks, siendo confiable en la confección de documentos de identificación de alta seguridad, mostrándole nuestra mejorada línea de identificación, contando para este fin con personal altamente calificado y maquinaria de alta tecnología industrial.</p>
  </div>
</div>

<!-- Contenedor para las tarjetas adicionales -->
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
  <div class="col">
    <div class="card" style="background-color: #ffffff;">
      <img src="https://masertecperu.com/imagenes/accesorios.png" class="card-img-top" alt="Fotochecks">
      <div class="card-body">
        <h5 class="card-title text-primary">Fotochecks</h5>
        <p class="card-text text-dark" style="font-size: 0.9rem;">Nuestro servicio de impresión de fotochecks incluye la elaboración del diseño y sesión fotográfica al personal en sus propias instalaciones sin costo adicional.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="background-color: #ffffff;">
      <img src="https://masertecperu.com/imagenes/fotocheck.png" class="card-img-top" alt="Accesorios">
      <div class="card-body">
        <h5 class="card-title text-primary">Accesorios</h5>
        <p class="card-text text-dark" style="font-size: 0.9rem;">Contamos con una gama diversa de accesorios de fotochecks tales como portafotochecks, cintas, micas, yoyos retractiles.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="background-color: #ffffff;">
      <img src="https://masertecperu.com/imagenes/sacop.png" class="card-img-top" alt="Sistema">
      <div class="card-body">
        <h5 class="card-title text-primary">Sistema</h5>
        <p class="card-text text-dark" style="font-size: 0.9rem;">SACOP Ha sido desarrollado para brindar un efectivo control sobre la asistencia de su personal, en información referida a horas extras, tardanzas, permisos, entre otros.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="background-color: #ffffff;">
      <img src="https://masertecperu.com/imagenes/servtec.png" class="card-img-top" alt="Servicio Técnico">
      <div class="card-body">
        <h5 class="card-title text-primary">Servicio Técnico</h5>
        <p class="card-text text-dark" style="font-size: 0.9rem;">Nuestro equipo de SERVICIO TÉCNICO está conformado por Ingenieros y Técnicos quienes se encuentran a su disposición de manera exclusiva para garantizarle un servicio de calidad.</p>
      </div>
    </div>
  </div>
</div>
