<div class="cont-card">
  <app-tarjeta
  title="PORTA FOTOCHECKS"
  imageUrl="https://masertecperu.com/imagenes/PORTAFOTOCHECKVARIOS.jpg"
  buttonText="Ver más"></app-tarjeta>


  <app-tarjeta
  title="COLLARES CON GANCHO"
  imageUrl="https://masertecperu.com/imagenes/Silk_Screen_Print_Lanyard_20mm_007-1024x657.jpg"
  buttonText="Ver más"></app-tarjeta>

  <app-tarjeta
  title="GANCHO MOSQUETON"
  imageUrl="https://masertecperu.com/imagenes/mosqueton.jpg"
  buttonText="Ver más"></app-tarjeta>

  <app-tarjeta
  title="GANCHO CAIMAN"
  imageUrl="https://masertecperu.com/imagenes/Flat-Polyester-Badge-Lanyard-With-Badge-Clip.jpg"
  buttonText="Ver más"></app-tarjeta>

  <app-tarjeta
  title="YOYOS RETRACTILES"
  imageUrl="https://masertecperu.com/imagenes/yoyo-tampografia-liso.jpg"
  buttonText="Ver más"></app-tarjeta>

  <app-tarjeta
  title="TARJETAS DE PROXIMIDAD"
  imageUrl="https://masertecperu.com/imagenes/aprox.jpg"
  buttonText="Ver más"></app-tarjeta>
  </div>
