<div class="cont-card">
<app-tarjeta
title="IMPRESORA DE FOTOCHECKS"
imageUrl="https://masertecperu.com/imagenes/p330i%20copia.png"
buttonText="Ver más"></app-tarjeta>


<app-tarjeta
title="IMPRESORA DE ETIQUETA"
imageUrl="https://masertecperu.com/imagenes/zebra_2844.jpg"
buttonText="Ver más"></app-tarjeta>

<app-tarjeta
title="RELOJES DE ASISTENCIA"
imageUrl="https://masertecperu.com/imagenes/1338831695_146678418_1-Fotos-de--Reloj-de-Asistencia-MAXSOTEC-EIRL.jpg"
buttonText="Ver más"></app-tarjeta>

<app-tarjeta
title="LECTORAS"
imageUrl="https://masertecperu.com/imagenes/original_AS8310.png"
buttonText="Ver más"></app-tarjeta>

</div>
