<div class="cont-card">
<app-tarjeta
title="IMPRESORA DE FOTOCHECKS"
imageUrl="https://image.jimcdn.com/app/cms/image/transf/dimension=382x10000:format=png/path/s2684573ae5b0a4ee/image/i7e1d055c5079cf21/version/1519951945/image.png"
buttonText="Ver más"
[showButton]="true"
route="/impresoras"></app-tarjeta>

<app-tarjeta
title="IMPRESORA DE ETIQUETA"
imageUrl="https://mediaserver.goepson.com/ImConvServlet/imconv/136ae98de79cb02983791ed954721bb502eb0ee3/1200Wx1200H?use=banner&hybrisId=B2C&assetDescr=C31CD84011_ColorWorks_Epson%20ColorWorks%20C7500_ES"
buttonText="Ver más"
[showButton]="true"
route="/impretiquetas"></app-tarjeta>

<app-tarjeta
title="RELOJES DE ASISTENCIA"
imageUrl="https://www.qwantec.com/hs-fs/hubfs/Productos/Equipos_Asistencia/T5%20logo%20workera.png?width=222&height=223&name=T5%20logo%20workera.png"
buttonText="Ver más"
[showButton]="true"
route="/relojes"></app-tarjeta>

<app-tarjeta
title="LECTORAS"
imageUrl="https://masertecperu.com/imagenes/original_AS8310.png"
buttonText="Ver más"
[showButton]="true"
route="/lectoras"></app-tarjeta>

</div>
