/* Estilo general de la tarjeta */
.card {
  display: flex;
  flex-direction: row;
  background-color: #2c3e50; /* Fondo color oscuro */
  margin: 0px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenedor de la imagen dentro de la tarjeta */
.cont-img {
  flex: 0.5;
  width: 45%;
  background-color: #34495e; /* Fondo un poco más claro para diferenciar */
  margin: 10px;
}

.cont-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Contenedor de texto dentro de la tarjeta */
.cont-text {
  flex: 1;
  width: 50%;
  background-color: #34495e; /* Fondo un poco más claro para diferenciar */
  margin: 10px;
  padding: 15px;
}

/* Título en la tarjeta principal */
.cont-text .card-title {
  color: #ecf0f1; /* Título en color claro para resaltar */
  font-size: 2rem; /* Título más grande */
  font-weight: bold;
  text-align: center; /* Alineación centrada */
}

/* Texto dentro de la tarjeta */
.cont-text .card-text {
  color: #ecf0f1; /* Texto en color claro */
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 10px;
}

/* Estilo para el contenedor de múltiples tarjetas */
.cont-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 16px;
}

/* Estilo para cada tarjeta dentro del contenedor */
.cont-card app-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px;
  padding: 8px;
  width: 22%;
  background-color: #2c3e50; /* Fondo oscuro */
  color: #ecf0f1; /* Texto blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  border-radius: 8px;
}

.cont-card app-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cont-card app-card h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;

}

.cont-card app-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ecf0f1; /* Texto blanco */
}
