
<div class="cont-card">
<app-card
title="Control de Asistencias"
imageUrl="https://masertecperu.com/imagenes/sacopresentacion.jpg"
text="Este sistema de control de asistencia en version basica esta orientado a pymes que requieran un control basico de asistencia de su personal: tardanzas, faltas y control de permisos este software esta diseñado para llevar el control de un promedio de 50 personas que cuenten con un o dos horarios fijos."
buttonText="Ver más detalle"
></app-card>
<app-card
title="Control de Comedores"
imageUrl="https://masertecperu.com/imagenes/B015.JPG"
text="Con el Software Control de Comedores, tendrá un manejo eficaz de su empresa.
:: Evitando Comensales no Autorizados.
:: Evitando doble consumo de Comida."
buttonText="Ver más detalle"
></app-card>
<app-card
title="Control de Rondas"
imageUrl="https://masertecperu.com/imagenes/sacopgold.jpg"
text="Ha sido desarrollado para brindar un efectivo control de su personal en informacion referida en horas extras, tardanzas, permisos, conpensaciones, esta orientado a empresas donde pueda existir alta rotacion de personal por turnos rotativos y en donde la politica de control de asistencia sean complejas.
"
buttonText="Ver más detalle"
></app-card>

</div>