<div class="container row m-0 mx-auto p-3 py-md-5 align-items-center">
    <!-- Columna de imagen -->
    <div class="d-flex flex-column align-items-center col-md-6 col-12 text-center mb-4 mb-md-0" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
        <img src="https://masertecperu.com/imagenes/fotoc1.jpg" alt="whatis-pchi" class="img-fluid"
            style="margin-bottom: 10px; width: 50%;">
        <img src="https://masertecperu.com/imagenes/fotoc2.jpg" alt="whatis-pchi" class="img-fluid"
            style="margin-bottom: 10px;  width: 50%;">
        <img src="https://masertecperu.com/imagenes/fotoc3.jpg" alt="whatis-pchi" class="img-fluid"
            style="margin-bottom: 10px;  width: 50%;">
    </div>
    

    <!-- Columna de texto -->
    <div class="col-md-6 col-12 p-4 us-message" data-aos="fade-left" data-aos-anchor-placement="top-bottom">
        <svg class="us-asset-3 mb-3" width="44" height="8" viewBox="0 0 44 8" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M44 0H0V8H44V0Z" fill="#FFBB33"></path>
        </svg>

        <h3 class="my-0 text-center text-md-left mb-4">
            <b class="prim-text-color">FOTOCHECKS</b>
        </h3>

        <span data-aos="fade-down">
            Nuestro servicio de impresión de fotochecks incluye la elaboración del diseño y sesión fotográfica al
            personal en sus propias instalaciones sin costo adicional. Además, usted podrá acceder a la base de
            fotografías que le serán de utilidad para su sistema de control de asistencia.
            <br>
            <p>• Fotocheck impreso por una cara full color, con protección overlay.</p>
            <p>• Tarjetas compuestas de PVC de 30mil de grosor (compuesto por poliéster y PVC).</p>
            <p>• Contamos con un sistema digitalizado para la captura de la imagen del personal en las instalaciones de
                su empresa.</p>
            <p>• Caso contrario realizamos el servicio de escaneado.</p>
            <p>• Las fotos de alta nitidez con resolución de 300dpi.</p>
            <p>• Así mismo las fotos digitalizadas se les entregara posteriormente, para mantener su Sistema de Personal
                actualizado.</p>
            <p>• Incluye el diseño</p>
            <p>• Incluye en el precio la de toma de fotos.</p>
            <h6>ALTA DURABILIDAD</h6>
            <ul>
                <li>Laminado de proteccion aumenta la duracion</li>
                <li>Resistente al aguy la humedad</li>
                <li>Material pvc resistente al dobles</li>
                <li>Tinta uv resistente a las inclimencias del clima</li>
                <li>Duracion entre 3 a 5 años</li>
            </ul>
            <h6>SEGURIDAD</h6>
            <ul>
                <li>Mascara de proteccion para codigo de barras evita el desgaste</li>
                <li>Huella y firma digital</li>
                <li>Foto fantasma, para evitar cambios en la fotografia</li>
                <li>Sello holografico de alta seguridad</li>
                <li>Tramado de fondo con tintas semitransperentes</li>
                <li>Codigos de barra especiales para evitar duplicados</li>
            </ul>
            <h6>CALIDAD</h6>
            <ul>
                <li>Diseño de fotocheck de gran calidad visual</li>
                <li>Impresiones de alta resolucion</li>
                <li>Fotos retocadas con cambio de fondo digita</li>
                <li>Colores de alta nitidez</li>
            </ul>
        </span>
        <div class="mt-4 text-md-end text-sm-end">
            <img class="lottery-svg2 mt-4" width="101" height="100"
                src="https://static.pchujoy.com/public/img/ornaments/Home3.webp" alt="home3-image">
        </div>
    </div>
</div>