
<div class="container row m-0 mx-auto p-3 py-md-5 align-items-center">
  <!-- Columna de imagen -->
  <div class="col-md-6 col-12 text-center mb-4 mb-md-0" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
    <img src="https://i.pinimg.com/originals/ff/04/88/ff04882db146bc34f456d4c96b1d24ab.png" alt="whatis-pchi" class="img-fluid" style="max-width: 80%;">
  </div>

  <!-- Columna de texto -->
  <div class="col-md-6 col-12 p-4 us-message" data-aos="fade-left" data-aos-anchor-placement="top-bottom">
    <svg class="us-asset-3 mb-3" width="44" height="8" viewBox="0 0 44 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M44 0H0V8H44V0Z" fill="#FFBB33"></path>
    </svg>

    <h3 class="my-0 text-center text-md-left mb-4">
      <b class="prim-text-color">Soporte Técnico</b>
    </h3>

    <span data-aos="fade-down">
      Nuestro equipo de SERVICIO TÉCNICO está conformado por Ingenieros y Técnicos quienes se encuentran a su disposición de manera exclusiva para garantizarle un servicio de calidad ya que han sido especialmente capacitados, en las marca de Zebra, Cipher Lab. impresoras de etiquetas, fotochecks y terminales de control de asistencia.
      <br><br>
      <b>Mantenimiento Preventivo Anual [CMPA]</b><br>
      Ideado para reducir y evitar las fallas no cubiertas por la garantía, ocasionadas la mayoría de las veces por excesivo desgaste del producto.
      <br><br>
      <b>Mantenimiento Preventivo-Correctivo Anual [CMPCA]</b><br>
      Creado para asegurar la operación constante de su organización, reduciendo al máximo las pérdidas de tiempo y dinero producto de las fallas técnicas.
    </span>
    <div class="mt-4 text-md-end text-sm-end">
    <img class="lottery-svg2 mt-4" width="101" height="100" src="https://static.pchujoy.com/public/img/ornaments/Home3.webp" alt="home3-image">
  </div>
  </div>
</div>
