<div class="card text-bg-dark mx-auto m-5" style="max-width: 40rem;">
  <img src="https://masertecperu.com/imagenes/soportetecnico.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">

  </div>
</div>

<div class="d-flex justify-content-center align-items-center">
<div class="card" style="max-width: 40rem; margin: 0px;">
  <!-- <img src="https://masertecperu.com/imagenes/soportetecnico.jpg" class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title text-center">SOPORTE TÉCNICO</h5>
      <p class="card-text">Nuestro equipo de SERVICIO TÉCNICO está conformado por Ingenieros y Técnicos quienes se encuentran a su disposición de manera exclusiva para garantizarle un servicio de calidad ya que han sido especialmente capacitados, en las marca de Zebra, Cipher Lab. impresoras de etiquetas, fotochecks y terminales de control de asistencia.

        Mantenimiento Preventivo Anual [CMPA]
        
        Ideado para reducir y evitar las fallas no cubiertas por la garantía, ocasionadas la mayoría de las veces por excesivo desgaste del producto.
        
        Mantenimiento Preventivo-Correctivo Anual [CMPCA]
        
        Creado para asegurar la operación constante de su organización, reduciendo al máximo las pérdidas de tiempo y dinero producto de las fallas técnicas..</p>
    </div>
  </div>
</div>