<div class="container my-5">

    <div class="col">

        <!-- Versión Básica-->
        <div class="col-md-12 mb-4">

            <div class="card shadow-lg">

                <div class="row">
                    <!-- Imagen -->
                    <div class="col-md-12">
                        <h1 class="text-center p-2">Versión Básica</h1>
                        <div class="col d-flex justify-content-center">
                        
                        <img src="https://masertecperu.com/imagenes/sacopresentacion.jpg"
                            class="img-fluid rounded-start h-75 w-50" alt="Lector de mano LS2208">
                        </div>
                    </div>
                    <!-- Contenido -->
                    <div class="col-md-12">
                        <div class="card-body p-5">
                            <p class="card-text">Este sistema de control de asistencia en version basica esta orientado
                                a pymes que requieran un control basico de asistencia de su personal: tardanzas, faltas
                                y control de permisos este software esta diseñado para llevar el control de un promedio
                                de 50 personas que cuenten con un o dos horarios fijos.</p>
                            <!-- Primera Fila de Cards -->
                            <div class="row row-cols-1 row-cols-md-3 g-4 m-auto p-2">
                                <div class="col">
                                    <div class="card-content p-2 h-100"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Personal</li>
                                            <p>Registro de personal, control de asistencia de múltiples horarios, así
                                                como
                                                también de sus respectivos locales, áreas,cargos, registro de grupos y
                                                categorías de personal según usted prefiera clasificar. Registros
                                                múltipes
                                                de marcadores, así como de múltiples conceptos.</p>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-content p-2 h-100"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Asignaciones</li>
                                            <p>Horarios al personal, horarios específicos, justificaciones, asignaciones
                                                de marcaciones, horas extras, tarjetas tempora-les, marcaciones de
                                                asistencia, autorización de horas extras. Todas las asignaciones o
                                                limitaciones pueden hacer de forma tantoindividual como grupal, total o
                                                filtrada (empresa, área, categoría, personal).</p>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-content p-2 h-100"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Marcaciones</li>
                                            <p>Calcula resúmenes , se obtendrá todo los valores en horasy días para cada
                                                uno de los conceptos definidos y asignadosdentro de un rango de fechas,
                                                corrigiendo las inconsistencias de las marcaciones.</p>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Segunda Fila de Cards -->
                            <div class="row row-cols-1 row-cols-md-2 g-4 m-auto p-2">
                                <div class="col m-auto">
                                    <div class="card-content p-2"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Reportes</li>
                                            <p>Calcula resúmenes , se obtendrá todo los valores en horasy días para cada
                                                uno de los conceptos definidos y asignadosdentro de un rango de fechas,
                                                corrigiendo las inconsistencias de las marcaciones.</p>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col m-auto">
                                    <div class="card-content p-2"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Utilitarios</li>
                                            <p>Configurar parametros de calculo de horas de tardanza, feriados sobre
                                                horario, tiempos minimos para considerar horas adicionales, tipos de
                                                calculo de horas extras, origen de salida de reportes.</p>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Imagen -->
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <img src="https://masertecperu.com/imagenes/reporte1.jpg"
                            class="img-fluid rounded-start h-75 w-50" alt="Lector de mano LS2208">
                    </div>

                    <!-- Imagen GOLD-->
                    <h1 class="text-center p-2">Versión GOLD</h1>
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <img src="https://masertecperu.com/imagenes/sacopgold.jpg"
                            class="img-fluid rounded-start h-75 w-50" alt="Lector de mano LS2208">
                    </div>

                    <!-- Contenido -->
                    <div class="col-md-12">
                        <div class="card-body p-5">
                            <p class="card-text">Ha sido desarrollado para brindar un efectivo control de su personal en
                                informacion referida en horas extras, tardanzas, permisos, conpensaciones, esta
                                orientado a empresas donde pueda existir alta rotacion de personal por turnos rotativos
                                y en donde la politica de control de asistencia sean complejas.
                                También está configurado como Sistema Multiusuario y Multiempresas, esto permite que mas
                                de un usuario tenga acceso, además, de que pueda administrar varias empresas desde un
                                solo software.</p>

                            <!-- Primera Fila de Cards -->
                            <div class="row row-cols-1 row-cols-md-3 g-4 m-auto p-2">
                                <div class="col">
                                    <div class="card-content p-2 h-100"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Personal</li>
                                            <p>Registro de personal, control de asistencia de múltiples horarios, así
                                                como
                                                también de sus respectivos locales, áreas,cargos, registro de grupos y
                                                categorías de personal según usted prefiera clasificar. Registros
                                                múltipes
                                                de marcadores, así como de múltiples conceptos.</p>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-content p-2 h-100"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Asignaciones</li>
                                            <p>Horarios al personal, horarios específicos, justificaciones, asignaciones
                                                de marcaciones, horas extras, tarjetas tempora-les, marcaciones de
                                                asistencia, autorización de horas extras. Todas las asignaciones o
                                                limitaciones pueden hacer de forma tantoindividual como grupal, total o
                                                filtrada (empresa, área, categoría, personal).</p>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-content p-2 h-100"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Marcaciones</li>
                                            <p>Calcula resúmenes , se obtendrá todo los valores en horasy días para cada
                                                uno de los conceptos definidos y asignadosdentro de un rango de fechas,
                                                corrigiendo las inconsistencias de las marcaciones.</p>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Segunda Fila de Cards -->
                            <div class="row row-cols-1 row-cols-md-2 g-4 m-auto p-2">
                                <div class="col">
                                    <div class="card-content p-2 h-100"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Reportes</li>
                                            <p>Listado de asistencia, de tardanzas, de horas extras, de horas
                                                adicionales, de justificaciones; también listado de resumen diario y
                                                total acumulado.
                                                Reporte de conpensaciones asignandas al personal, reportes del
                                                ministerio de trabajo dentro de un rango de fecha.</p>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-content p-2 h-100"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Seguridad</li>
                                            <p>Crear, eliminar y modificar usuarios, dpnde se le asignara un perfil de
                                                usuario, ademas definir el tipo de auditoria que tendrá (básica,
                                                completa o personalizada), crear eliminar y modificar perfiles de
                                                usuario.</p>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Tercera Fila de Cards -->
                            <div class="row row-cols-1 row-cols-md-2 g-4 m-auto p-2">
                                <div class="col">
                                    <div class="card-content p-2 h-100"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Utilitarios</li>
                                            <p>Configurar parametros de calculo de horas de tardanza, feriados sobre horario, tiempos minimos para considerar horas adicionales, tipos de calculo de horas extras, origen de salida de reportes.</p>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-content p-2 h-100"
                                        style="background-color: #333; color: white; border-radius: 15px;">
                                        <ul>
                                            <li style="font-weight: bold;">Auditoría</li>
                                            <p>Todas las operaciones de agregar, eliminar, modificar, listado y procesos serán registrados segun el tipo de auditoria configurado por el administrador de sistema   </p>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>