/* You can add global styles to this file, and also import other style files */
/* SE AGREGA ESTE CODIGO GENERAL DEL PADDING BOTTOM 
PARA QUE EL FOOTER NO OCUPE POR ENCIMA EL COMPONENTE, MAS QUE TODO ES 
PARA SEPARAR EL ESPACIO DEL FOOTER CON EL COMPONENTE DE ARRIBA*/
body {
    padding-bottom: 80px;
    /* Ajusta este valor según la altura exacta de tu footer */
}

@media (max-width: 768px) {
    body {
        padding-bottom: 140px;
        /* Ajusta este valor según la altura exacta de tu footer */
    }
}

@media (max-width: 576px) {
    body {
        padding-bottom: 140px;
        /* Ajusta este valor según la altura exacta de tu footer */
    }
}