<div class="container my-5">
    <div class="row">
  
      <!-- Tarjeta 1 -->
      <div class="col-md-12 mb-4">
        <div class="card shadow-lg">
          <div class="row g-0">
            <!-- Imagen -->
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <img src="https://masertecperu.com/imagenes/eti_tlp2844.jpg" class="img-fluid rounded-start h-75 w-50" alt="Zebra Modelo TLP-2844">
            </div>
            <!-- Contenido -->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><b>ZEBRA MODELO TLP-2844</b></h5>
                <p class="card-text">La TLP 2844 es una impresora de etiquetas de códigos de barras de cuatro pulgadas.</p>
                <ul>
                    <li>Incluye cable USB</li>
                    <li>Resolución 203 dpi</li>
                </ul>
                <a href="https://issuu.com/masertecsac/docs/2844?mode=window" target="_blank" rel="noopener noreferrer" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 2 -->
      <div class="col-md-12 mb-4">
        <div class="card shadow-lg">
          <div class="row g-0">
            <!-- Imagen -->
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <img src="https://masertecperu.com/imagenes/eti_GK420D.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo GK420D">
            </div>
            <!-- Contenido -->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><b>ZEBRA MODELO GK420D</b></h5>
                <p class="card-text">Impresora Zebra de 203 dpi. La etiquetadora Zebra GK420d pertenece a la familia de etiquetadoras Zebra de altos estándares de fabricación y excelentes presentaciones.</p>
                <a href="https://issuu.com/masertecsac/docs/12574l-e_rev4_g-series_datasheet_spanish?mode=window" target="_blank" rel="noopener noreferrer" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 3 -->
      <div class="col-md-12 mb-4">
        <div class="card shadow-lg">
          <div class="row g-0">
            <!-- Imagen -->
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <img src="https://masertecperu.com/imagenes/eti_GK420T.jpg" class="img-fluid rounded-start h-75 w-50" alt="Zebra Modelo GK420T">
            </div>
            <!-- Contenido -->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><b>ZEBRA MODELO GK420T</b></h5>
                <p class="card-text">Impresora térmica de sobremesa que ofrece altas prestaciones de impresión y ha superado exigentes pruebas de resistencia a golpes.</p>
                <a href="https://issuu.com/masertecsac/docs/12574l-e_rev4_g-series_datasheet_spanish?mode=window" target="_blank" rel="noopener noreferrer" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- Tarjeta 4 -->
      <div class="col-md-12 mb-4">
        <div class="card shadow-lg">
          <div class="row g-0">
            <!-- Imagen -->
            <div class="col-md-4 col-md-4 d-flex justify-content-center align-items-center">
              <img src="https://masertecperu.com/imagenes/eti_S4M.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo S4M">
            </div>
            <!-- Contenido -->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><b>ZEBRA MODELO S4M</b></h5>
                <p class="card-text">La impresora térmica Zebra S4M constituye la nueva generación de la antigua serie Stripe, es fácil de usar y ofrece una magnífica relación calidad.</p>
                <a href="https://issuu.com/masertecsac/docs/s4m?mode=window" target="_blank" rel="noopener noreferrer" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 5 -->
      <div class="col-md-12 mb-4">
        <div class="card shadow-lg">
          <div class="row g-0">
            <!-- Imagen -->
            <div class="col-md-4 col-md-4 d-flex justify-content-center align-items-center p-3">
              <img src="https://masertecperu.com/imagenes/eti_ZM400.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo ZM400">
            </div>
            <!-- Contenido -->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><b>ZEBRA MODELO ZM400</b></h5>
                <p class="card-text">Impresora térmica industrial para rendimientos exigentes. La Zebra ZM400 ofrece una multitud de opciones para todo tipo de necesidades.</p>
                <a href="https://issuu.com/masertecsac/docs/zm400?mode=window" target="_blank" rel="noopener noreferrer" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 6 -->
      <div class="col-md-12 mb-4">
        <div class="card shadow-lg">
          <div class="row g-0">
            <!-- Imagen -->
            <div class="col-md-4 col-md-4 d-flex justify-content-center align-items-center p-2">
              <img src="https://masertecperu.com/imagenes/eti_ZM600.jpg" class="img-fluid rounded-start h-100" alt="Zebra Modelo ZM600">
            </div>
            <!-- Contenido -->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><b>ZEBRA MODELO ZM600</b></h5>
                <p class="card-text">Impresora industrial Zebra con excelentes prestaciones. Las nuevas impresoras Zebra ZM400™ y ZM600™ incluyen todas las funciones de la gama actual Z Series.</p>
                <a href="https://issuu.com/masertecsac/docs/zm400?mode=window" target="_blank" rel="noopener noreferrer" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 7 -->
      <div class="col-md-12 mb-4">
        <div class="card shadow-lg">
          <div class="row g-0">
            <!-- Imagen -->
            <div class="col-md-4 col-md-4 d-flex justify-content-center align-items-center p-2">
              <img src="https://masertecperu.com/imagenes/eti_SOFT.jpg" class="img-fluid rounded-start h-100" alt="Software ZebraDesigner Pro">
            </div>
            <!-- Contenido -->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><b>Software ZebraDesigner Pro</b></h5>
                <p class="card-text">Software de diseño ofrece características básicas de un mayor control y facilidad de uso al usuario de aplicaciones de sobremesa.</p>
                <a href="https://issuu.com/masertecsac/docs/zebradesigner?mode=window" target="_blank" rel="noopener noreferrer" class="btn" style="background-image: linear-gradient(#333333, #440d01); color: white;">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  